
.pyx-slider {
  width: 200px !important;
}

.pyDataMap {
    position: middle;
    height: 500px;
    width: 800px;
  }

body {
  font-style:normal;
  font-family:"BrandonText-Regular", sans-serif;
  background-color: rgba(44, 94, 79, 0.3);

}

#titlebar {
   color: whitesmoke;
   background-color: rgb(1,51,105);
   text-align: center;
   vertical-align: middle;
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: larger;
}

ul#nflscroll li {
    display:inline;
}

.label {
  margin: 1px!important;
}

.pull-left {
  float: left!important;
}

.pull-right {
  float: right!important;
}

.Siminfo {
  display: block;
  width: 220px!important;
  margin: 10px!important;
}
.style-image {
  padding-bottom: 10px;
}
.style-image-table {
  text-align: center;
}
.style-image img {
  width: 100%;
}
table.dash-grid {
  width: 100%;
  overflow: auto;
}
table.dash-grid tbody {
  vertical-align: top;
}
span.label {
  margin-right: 5px;
}
